// BG
// $main-bg: #2a3447;
$main-bg: rgba(6, 8, 89, 0.75);
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: black;
$soft-color: #ddd;
$dark-color: #2a3447;


/*
border-radius: 2080.191px;
opacity: 0.75;
background: #FFF;
box-shadow: 23.156118392944336px 30.87482452392578px 177.53024291992188px 23.156118392944336px rgba(6, 8, 89, 0.75) inset;
1x

*/

